<div class="cont">
  <h3>Задачи</h3>
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input [(ngModel)]="name" type="text" class="form-control" placeholder="Добавить задачу" aria-label="Username"
           aria-describedby="addon-wrapping">

  </div>
  <div>
    <span class="input-group-text" id="addon-wrapping" ><button type="button" class="btn btn-secondary" (click)="clickAdd()">Добавить</button></span>


  </div>
  <div class="scroll">
    <div *ngFor = "let data of todoList; let i = index" class="border border-dark border-2 rounded ">
      <p >задачи: {{data.title}}</p>

      <div class="margin-left-md">
        <button type="button" class="btn btn-success " (click)="completedList(data.id)">Выполнить</button>
        <button type="button" class="btn btn-danger" (click)="deleteList(data.id)">Удалить</button>
      </div>

    </div>
  </div>

</div>
