.cont{
  margin-top: 15px;
  padding-left: 15px;
  width: 160vh;
  display: block;
  .btn{
    margin: auto;
  }
  .border{
    margin-top: 10px;
  }
  .scroll{
    overflow-y: scroll;
    height: 500px;
  }

}
@media screen and (max-width: 1100px){
  .cont{
    margin-top: 15px;
    padding-left: 15px;
    width: 100%;
    display: block;
  }
}
